# Copie ce fichier en .env.local et remplis les valeurs
# Ne commite JAMAIS le fichier .env.local sur Git

# Identifiant de ton formulaire Formspree (https://formspree.io)
NEXT_PUBLIC_FORMSPREE_ID=xpwvgpwe
